# Yarn
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

#Build folders
dist
.vite
coverage

# Test
src/e2e/videos
src/e2e/downloads
src/e2e/screenshots

#Other
.DS_Store