*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

button {
    font-family: unset;
    font-size: var(--fs-400);
    letter-spacing: inherit;
    word-spacing: inherit;
}
