@import "./abstracts/media-queries.css";

* {
    --clr-primary-hue: 196;
    --clr-primary-saturation: 50%;
    --clr-primary-lightness: 50%;

    --clr-primary: hsl(var(--clr-primary-hue) var(--clr-primary-saturation) var(--clr-primary-lightness));

    @media (--dark-theme) {
        --clr-primary: hsl(
            var(--clr-primary-hue)
            calc(var(--clr-primary-saturation) / 2)
            calc(var(--clr-primary-lightness) / 1.5)
        );
    }
}

:root {
    accent-color: var(--clr-primary);
    
    --clr-primary-text: hsl(var(--clr-primary-hue) var(--clr-primary-saturation) 5%);
    --clr-primary-surface: hsl(var(--clr-primary-hue) 10% 90%);
    --clr-primary-surface2: hsl(var(--clr-primary-hue) 20% 80%);
    --clr-primary-surface-shadow: var(--clr-primary-hue) 10% 20%;
    --shadow-strength: .02;

    @media (--dark-theme) {
        --clr-primary-text: hsl(var(--clr-primary-hue) 20% 85%);
        --clr-primary-surface: hsl(var(--clr-primary-hue) 10% 10%);
        --clr-primary-surface2: hsl(var(--clr-primary-hue) 20% 20%);
        --clr-primary-surface-shadow: var(--clr-primary-hue) 50% 3%;
        --shadow-strength: .52;
    }

    --fs-300: 0.8rem;
    --fs-400: 1rem;
    --fs-500: clamp(1.125rem, 0.722vw + 0.836rem, 1.414rem);
    --fs-600: clamp(1.563rem, 1.09vw + 1.127rem, 1.999rem);
    --fs-700: clamp(1.953rem, 2.185vw + 1.079rem, 2.827rem);
    --fs-800: clamp(2.441rem, 3.893vw + 0.884rem, 3.998rem);
    --fs-900: clamp(3.052rem, 6.502vw + 0.451rem, 5.653rem);

    --inline-spacing: clamp(1rem, 10vw - 3rem, 5rem);
    --block-spacing: clamp(1rem, 2.5vw, 2rem);
    --spacing: 1rem;
}
