@import "/src/css/abstracts/media-queries.css";

.app-link-button {
  text-decoration: none;
  color: inherit;
  box-shadow: none;
  border-radius: 0;

  &:not(.app-link-button--active) {
    color: var(--clr-primary-text);
    background-color: var(--clr-primary-surface2);
  }

  &:first-child {
    border-start-start-radius: 8px;
    border-end-start-radius: 8px;
  }

  &:last-child {
    border-start-end-radius: 8px;
    border-end-end-radius: 8px;
  }

  &:focus-visible {
    outline-offset: 0;
  }

  &:hover {
    --clr-primary-lightness: 50%;
    background-color: var(--clr-primary);
  }
}
