@import "/src/css/abstracts/media-queries.css";

.app-link-button {
  text-decoration: none;
  box-shadow: none;
  border-radius: 0;

  &:not(.app-link-button--active) {
    background-color: var(--clr-primary-surface2);
    --clr-primary-text-alpha: .8;
  }

  &:first-of-type {
    border-start-start-radius: var(--button-border-radius);
    border-end-start-radius: var(--button-border-radius);
  }

  &:last-of-type {
    border-start-end-radius: var(--button-border-radius);
    border-end-end-radius: var(--button-border-radius);
  }

  &:focus-visible {
    outline-offset: 0;
  }

  &:hover {
    background-color: var(--clr-primary);
    --clr-primary-text-alpha: 1;
  }
}
