@import "/src/css/abstracts/media-queries";

.app-counter {
  display: grid;
  place-items: center;
  gap: var(--spacing);
}

.app-counter__text {
  @media (--sm-and-higher) {
    grid-column: span 2;
  }
}
